body {
  background-color: rgb(115, 115, 115);
}

header {
  display: flex;
  color: rgb(81, 20, 20);
  justify-content: center;
  align-items: center;
}

header > img {
  height: 100px;
}

header > h1 {
  margin-right: 93px;
}

main {
  display: flex;
  gap: 5px;
  justify-content: center;
}

#amount,
#currencies,
#convert {
  border: 2px black solid;
}

#amount {
  background-color: antiquewhite;
  height: 20px;
  width: 140px;
}

#currencies {
  height: 26px;
}

#convert {
  height: 26px;
}

#outcome {
  display: block;
  text-align: center;
  color: rgb(81, 20, 20);
  margin: 15px;
  font-size: 40px;
  font-weight: 800;
}
